<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.zeng.pojo.Address">
        <property name="address" value="广州"/>
    </bean>

    <bean id="student" class="com.zeng.pojo.Student">
        <!-- 第一种，普通值注入,value-->
        <property name="name" value="曾嘉彬"/>

        <!-- 第二种，Bean注入,ref-->
        <property name="address" ref="address"/>

        <!--        数组-->
        <property name="book">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>

        <!--        List-->
        <property name="hobbies">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>敲代码</value>
            </list>
        </property>

        <!--        Map-->
        <property name="card">
            <map>
                <entry key="身份证" value="111221212121221"/>
                <entry key="银行卡" value="458756348754344"/>
            </map>
        </property>

        <!--        Set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>CSGO</value>
                <value>DOTA</value>
            </set>
        </property>


        <!--        NULL-->
<!--        <property name="wife" value=""/>-->
        <property name="wife">
            <null/>
        </property>

<!--        Properties-->
        <property name="info">
            <props>
                <prop key="driver">20182022</prop>
                <prop key="url">男</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>

    </bean>


</beans>
